<h1 class="admin-header"> Admin Dashboard </h1>
<div class="admin-stats-container">
<article class="admin-stats">
  <h2> <%= @product_count %> Products </h2>
  
</article>
<article class="admin-stats">
  <h2> <%= @category_count %> Categories </h2>
</article>
</div>
