<h1> Admin Dashboard </h1>
<div class="admin-stats-container">
<article class="admin-stats">
  <h2> 0 Products </h2>
  
</article>
<article class="admin-stats">
  <h2> 0 Categories </h2>
</article>
</div>
